body {
  @apply bg-[#FFF9F5];
}

.button {
  @apply rounded bg-[#0070f6] p-2 text-white hover:bg-blue-700;
}

.password {
  @apply font-mono text-2xl text-gray-800;
}

.test {
  @apply bg-red-400;
}

.testb {
  @apply border border-solid border-red-500;
}

.rc-slider-handle {
  width: 42px !important;
  height: 42px !important;
  margin-top: -18px !important;
}
